# Credit Risk Probability of Default - Data Exploration

### Packages and Libraries

In [1]:
# importing libraries and packages
import pandas as pd
import numpy as np


# visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import time as time

In [2]:
pd.set_option('display.max_columns', None) # display max number of columns
pd.set_option('display.max_rows',None) # display max number of rows

--------------------------------------------------------------------------------------------------------------------------------

### Loading the dataset

In [3]:
# Loading the dataset in the work environment
dataset_loan = pd.read_csv('./data/raw/Loan_Dataset.csv', low_memory = False)

# viewing a sample rows from the dataset
dataset_loan.sample(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
399792,NaN,NaN,27000,27000,27000.0,36 months,11.98,896.53,B,B5,Registered nurse,2 years,RENT,95000.0,Verified,Mar-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,112xx,NY,21.34,0.0,Jul-2012,0.0,NaN,NaN,18.0,0.0,25392,89.7,19.0,f,19748.44,19748.44,9825.890000,9825.89,7251.56,2574.33,0.0,0.0,0.0,Feb-2019,896.53,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,85269.0,0.0,11.0,0.0,0.0,31.0,59877.0,80.0,0.0,1.0,16877.0,83.0,28300.0,0.0,0.0,0.0,1.0,4737.0,861.0,96.3,0.0,0.0,68.0,60.0,18.0,18.0,0.0,31.0,NaN,NaN,NaN,0.0,5.0,7.0,5.0,5.0,12.0,7.0,7.0,7.0,18.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,102809.0,85269.0,23500.0,74509.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
184484,NaN,NaN,40000,40000,40000.0,60 months,12.73,904.61,B,B5,Unit Manager,10+ years,MORTGAGE,90500.0,Verified,Aug-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,245xx,VA,26.65,0.0,Sep-2006,1.0,NaN,NaN,11.0,0.0,25801,70.9,29.0,w,37040.83,37040.83,5399.370000,5399.37,2959.17,2440.20,0.0,0.0,0.0,Feb-2019,904.61,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,140500.0,29.12,NaN,0.0,0.0,329586.0,1.0,4.0,1.0,3.0,4.0,98490.0,85.0,0.0,0.0,8266.0,80.0,36400.0,0.0,2.0,2.0,3.0,29962.0,2097.0,91.2,0.0,0.0,143.0,96.0,36.0,4.0,4.0,62.0,NaN,4.0,NaN,0.0,3.0,5.0,3.0,4.0,17.0,6.0,8.0,5.0,11.0,0.0,0.0,0.0,1.0,100.0,100.0,0.0,0.0,362063.0,124291.0,23800.0,108663.0,68650.0,Sep-2006,1.0,4.0,11.0,80.4,2.0,11.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
1712993,NaN,NaN,35000,35000,35000.0,36 months,14.30,1201.33,C,C1,Director,3 years,MORTGAGE,155000.0,Source Verified,Oct-2013,Fully Paid,n,NaN,NaN,debt_consolidation,Debt reconstruct,220xx,VA,20.79,1.0,Feb-1983,0.0,15.0,NaN,11.0,0.0,33464,80.6,31.0,f,0.00,0.00,43247.573170,43247.57,35000.00,8247.57,0.0,0.0,0.0,Oct-2016,1201.02,NaN,May-2017,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,882114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41500.0,NaN,NaN,NaN,2.0,80192.0,8036.0,80.6,0.0,0.0,154.0,373.0,24.0,12.0,6.0,24.0,15.0,NaN,15.0,0.0,5.0,5.0,6.0,11.0,9.0,6.0,14.0,5.0,11.0,0.0,0.0,0.0,1.0,96.0,66.7,0.0,0.0,932352.0,54240.0,41500.0,46522.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
944239,NaN,NaN,20000,20000,19975.0,36 months,9.17,637.58,B,B2,Manager of Annual Giving,4 years,MORTGAGE,78000.0,Source Verified,Dec-2015,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,601xx,IL,30.38,0.0,Jul-1999,1.0,NaN,NaN,12.0,0.0,39844,65.7,43.0,w,0.00,0.00,22958.222009,22929.52,20000.00,2958.22,0.0,0.0,0.0,Jan-2019,0.25,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,392649.0,1.0,1.0,1.0,1.0,8.0,12662.0,85.0,1.0,4.0,18456.0,70.0,60600.0,1.0,0.0,6.0,6.0,32721.0,9230.0,80.9,0.0,0.0,122.0,197.0,12.0,4.0,5.0,16.0,NaN,3.0,NaN,0.0,4.0,6.0,5.0,18.0,7.0,10.0,31.0,6.0,12.0,0.0,0.0,0.0,3.0,100.0,60.0,0.0,0.0,417100.0,52506.0,48400.0,14900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1517157,NaN,NaN,8000,8000,8000.0,36 months,15.05,277.52,C,C4,DSP,6 years,RENT,32000.0,Source Verified,Aug-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,971xx,OR,23.11,0.0,Nov-2008,0.0,NaN,NaN,5.0,0.0,2641,20.3,11.0,w,4446.79,4446.79,4988.670000,4988.67,3553.21,1435.46,0.0,0.0,0.0,Feb-2019,277.52,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,74000.0,18.50,Source Verified,0.0,0.0,24616.0,1.0,2.0,1.0,1.0,11.0,21975.0,76.0,1.0,3.0,2641.0,59.0,13000.0,1.0,0.0,3.0,4.0,4923.0,3259.0,44.8,0.0,0.0,104.0,27.0,5.0,5.0,0.0,20.0,NaN,11.0,NaN,0.0,1.0,1.0,1.0,2.0,7.0,3.0,4.0,1.0,5.0,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,41856.0,24616.0,5900.0,28856.0,11142.0,Jun-2008,1.0,0.0,6.0,92.4,2.0,5.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

Loan dataset has numerical and categorical features along with few columns with missing values. We will be going through these features one by one to identify their importance and select the most revelvant features for training the model.

Let's know more about the loan dataset, before proceeding ahead.

In [12]:
# checking the shape of the dataset
print(f"Loan dataset has a shape of {dataset_loan.shape}")

Loan dataset has a shape of (2260668, 145)

So in total we have 145 features with +2 Million observation in the raw dataset which needs to be cleaned and modified according to our observations and requirement for model training and evaluation for a more generalized model which is able to customer default rate in advance before the issuing the loan from the client.

In [13]:
# basic informaiton about the dataset
dataset_loan.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 5.8 GB

Because of the large number of feature dataframe.info() is not showing the detail breakdown of each feature and it's datatype. 

But we can conculde from the output that that we have 4 features with int64, 105 features with float64 and 36 features that are of object datatypes. 

We will have to check one by one these features for their datatype and convert or make changes accordingly. 

Before we will have to make a fucntion that will help to see the various other information about the no. of observations in the dataset, unique values in the dataset, percentage of missing values and so on, before proceeding ahead. 

**Task**
   - Duplicate values.
   - Correct Datatypes (**To be handle during EDA**)
   - Converting feature into more meaningful format. (**Handle During EDA**)
   - Missing values.

**Check for Duplicated values**

Duplicate rows can cause bias in model training for Porbability of Default(PD), impacting our model performance as they effectively give more/increase weight to certain samples.They may also indicate data collection issues.

Identifying and removing them from the dataset, helps to ensure data integrity.

In [5]:
# check for duplicated values in the loan dataset
dataset_loan.duplicated().sum()

0

As we can see we don't have any duplicate values in the loan dataset.

**Checking for Null Values/ Missing Values in the loan dataset**

Missing values can lead to error during data processing and may cause bias on inaccurate predictions in machine learning models. Detecting them early allows us to decide on appropriate handling methods, such as imputation or removal to maintin data quality.

Dropping rows with complete null values, as it's essential to remove them as we proceed ahead with finding null values in the features column wise.

In [ ]:
# Dropping rows with complete null values.
dataset_loan.dropna(axis = 0, how = 'all')

# checking the shape of the loan dataset after dropping the rows with complete null values.
print(f'Shape of loan dataset after dropping rows with complete null values is {dataset_loan.shape}.')

After comparing the before and after shape of loan dataset we can conclude that there were no rows with complete missing values.

Because of large number of feature in the loan dataset, we will be creating a function that will help to list all the features along with non-null values, null values count, percent of null values and datatype of these features as info() is not able to show all the 145 features.

In [11]:
def dataset_meta_data(dataset):
    
    # dataframe to store the meta information about each features
    dataset_meta = pd.DataFrame(columns = ['Feature_name','Non_Null_Values',
                                           'Null_Values','%_Null_Values',
                                           'Unique_Values','Data_Type'])
    # length of the dataset
    l = len(dataset)
    
    # loop to collect meta data for each feature and append to dataset_meta
    for col in dataset.columns:
        
        # know the null values in the feature
        null_value_count = dataset[col].isnull().sum()
        
        # append the meta data about each feature
        dataset_meta.loc[len(dataset_meta),:] = [col,
                                                 dataset[col].notnull().sum(),
                                                 null_value_count,
                                                 round(null_value_count*100/l,2),
                                                 dataset[col].nunique(),
                                                 dataset[col].dtype
                                                ]
    
    # return the dataset_meta
    return dataset_meta

In [16]:
# view the meta data of loan dataset using dataset_meta_data()
dataset_meta_desc = dataset_meta_data(dataset_loan)

# print the meta data obtained from the dataset_meta_data() function
dataset_meta_desc

,Feature_name,Non_Null_Values,Null_Values,%_Null_Values,Unique_Values,Data_Type
0,id,0,1303607,100.0,0,float64
1,member_id,0,1303607,100.0,0,float64
2,loan_amnt,1303607,0,0.0,1553,int64
3,funded_amnt,1303607,0,0.0,1553,int64
4,funded_amnt_inv,1303607,0,0.0,9014,float64
5,term,1303607,0,0.0,2,object
6,int_rate,1303607,0,0.0,654,float64
7,installment,1303607,0,0.0,82574,float64
8,grade,1303607,0,0.0,7,object
9,sub_grade,1303607,0,0.0,35,object
10,emp_title,1221028,82579,6.33,371435,object
11,emp_length,1228153,75454,5.79,11,object
12,home_ownership,1303607,0,0.0,6,object
13,annual_inc,1303607,0,0.0,62988,float64
14,verification_status,1303607,0,0.0,3,object
15,issue_d,1303607,0,0.0,139,object
16,loan_status,1303607,0,0.0,2,object
17,pymnt_plan,1303607,0,0.0,1,object
18,url,0,1303607,100.0,0,float64
19,desc,123327,1180280,90.54,121809,object
20,purpose,1303607,0,0.0,14,object
21,title,1288181,15426,1.18,61678,object
22,zip_code,1303606,1,0.0,943,object
23,addr_state,1303607,0,0.0,51,object
24,dti,1303295,312,0.02,6870,float64
25,delinq_2yrs,1303607,0,0.0,30,float64
26,earliest_cr_line,1303607,0,0.0,738,object
27,inq_last_6mths,1303606,1,0.0,9,float64
28,mths_since_last_delinq,645783,657824,50.46,163,float64
29,mths_since_last_record,221766,1081841,82.99,124,float64
30,open_acc,1303607,0,0.0,84,float64
31,pub_rec,1303607,0,0.0,37,float64
32,revol_bal,1303607,0,0.0,82819,int64
33,revol_util,1302797,810,0.06,1363,float64
34,total_acc,1303607,0,0.0,142,float64
35,initial_list_status,1303607,0,0.0,2,object
36,out_prncp,1303607,0,0.0,1,float64
37,out_prncp_inv,1303607,0,0.0,1,float64
38,total_pymnt,1303607,0,0.0,1224360,float64
39,total_pymnt_inv,1303607,0,0.0,987049,float64
40,total_rec_prncp,1303607,0,0.0,200257,float64
41,total_rec_int,1303607,0,0.0,508623,float64
42,total_rec_late_fee,1303607,0,0.0,15513,float64
43,recoveries,1303607,0,0.0,127607,float64
44,collection_recovery_fee,1303607,0,0.0,140279,float64
45,last_pymnt_d,1301347,2260,0.17,134,object
46,last_pymnt_amnt,1303607,0,0.0,680163,float64
47,next_pymnt_d,0,1303607,100.0,0,object
48,last_credit_pull_d,1303553,54,0.0,139,object
49,collections_12_mths_ex_med,1303551,56,0.0,15,float64
50,mths_since_last_major_derog,342367,961240,73.74,173,float64
51,policy_code,1303607,0,0.0,1,int64
52,application_type,1303607,0,0.0,2,object
53,annual_inc_joint,23237,1280370,98.22,4724,float64
54,dti_joint,23235,1280372,98.22,3609,float64
55,verification_status_joint,23091,1280516,98.23,3,object
56,acc_now_delinq,1303607,0,0.0,8,float64
57,tot_coll_amt,1236080,67527,5.18,12701,float64
58,tot_cur_bal,1236080,67527,5.18,395106,float64
59,open_acc_6m,499544,804063,61.68,19,float64
60,open_act_il,499545,804062,61.68,50,float64
61,open_il_12m,499545,804062,61.68,18,float64
62,open_il_24m,499545,804062,61.68,31,float64
63,mths_since_rcnt_il,486548,817059,62.68,333,float64
64,total_bal_il,499545,804062,61.68,115496,float64
65,il_util,432668,870939,66.81,231,float64
66,open_rv_12m,499545,804062,61.68,27,float64
67,open_rv_24m,499545,804062,61.68,45,float64
68,max_bal_bc,499545,804062,61.68,27040,float64
69,all_util,499494,804113,61.68,170,float64
70,total_rev_hi_lim,1236080,67527,5.18,26313,float64
71,inq_fi,499545,804062,61.68,30,float64
72,total_cu_tl,499544,804063,61.68,53,float64
73,inq_last_12m,499544,804063,61.68,43,float64
74,acc_open_past_24mths,1256326,47281,3.63,54,float64
75,avg_cur_bal,1236059,67548,5.18,76181,float64
76,bc_open_to_buy,1242968,60639,4.65,73970,float64
77,bc_util,1242221,61386,4.71,1436,float64
78,chargeoff_within_12_mths,1303551,56,0.0,11,float64
79,delinq_amnt,1303607,0,0.0,1961,float64
80,mo_sin_old_il_acct,1199312,104295,8.0,520,float64
81,mo_sin_old_rev_tl_op,1236079,67528,5.18,754,float64
82,mo_sin_rcnt_rev_tl_op,1236079,67528,5.18,282,float64
83,mo_sin_rcnt_tl,1236080,67527,5.18,193,float64
84,mort_acc,1256326,47281,3.63,38,float64
85,mths_since_recent_bc,1243866,59741,4.58,489,float64
86,mths_since_recent_bc_dlq,309146,994461,76.29,167,float64
87,mths_since_recent_inq,1134058,169549,13.01,26,float64
88,mths_since_recent_revol_delinq,435835,867772,66.57,168,float64
89,num_accts_ever_120_pd,1236080,67527,5.18,38,float64
90,num_actv_bc_tl,1236080,67527,5.18,34,float64
91,num_actv_rev_tl,1236080,67527,5.18,52,float64
92,num_bc_sats,1247766,55841,4.28,52,float64
93,num_bc_tl,1236080,67527,5.18,68,float64
94,num_il_tl,1236080,67527,5.18,113,float64
95,num_op_rev_tl,1236080,67527,5.18,74,float64
96,num_rev_accts,1236079,67528,5.18,106,float64
97,num_rev_tl_bal_gt_0,1236080,67527,5.18,46,float64
98,num_sats,1247766,55841,4.28,83,float64
99,num_tl_120dpd_2m,1188037,115570,8.87,6,float64
100,num_tl_30dpd,1236080,67527,5.18,5,float64
101,num_tl_90g_dpd_24m,1236080,67527,5.18,29,float64
102,num_tl_op_past_12m,1236080,67527,5.18,32,float64
103,pct_tl_nvr_dlq,1235926,67681,5.19,629,float64
104,percent_bc_gt_75,1242560,61047,4.68,242,float64
105,pub_rec_bankruptcies,1302910,697,0.05,12,float64
106,tax_liens,1303568,39,0.0,36,float64
107,tot_hi_cred_lim,1236080,67527,5.18,421293,float64
108,total_bal_ex_mort,1256326,47281,3.63,176071,float64
109,total_bc_limit,1256326,47281,3.63,16884,float64
110,total_il_high_credit_limit,1236080,67527,5.18,160792,float64
111,revol_bal_joint,16510,1287097,98.73,14528,float64
112,sec_app_earliest_cr_line,16511,1287096,98.73,560,object
113,sec_app_inq_last_6mths,16511,1287096,98.73,7,float64
114,sec_app_mort_acc,16511,1287096,98.73,18,float64
115,sec_app_open_acc,16511,1287096,98.73,54,float64
116,sec_app_revol_util,16218,1287389,98.76,1107,float64
117,sec_app_open_act_il,16511,1287096,98.73,35,float64
118,sec_app_num_rev_accts,16511,1287096,98.73,67,float64
119,sec_app_chargeoff_within_12_mths,16511,1287096,98.73,14,float64
120,sec_app_collections_12_mths_ex_med,16511,1287096,98.73,12,float64
121,sec_app_mths_since_last_major_derog,5932,1297675,99.54,110,float64
122,hardship_flag,1303607,0,0.0,2,object
123,hardship_type,5335,1298272,99.59,1,object
124,hardship_reason,5335,1298272,99.59,9,object
125,hardship_status,5335,1298272,99.59,3,object
126,deferral_term,5335,1298272,99.59,1,float64
127,hardship_amount,5335,1298272,99.59,4838,float64
128,hardship_start_date,5335,1298272,99.59,26,object
129,hardship_end_date,5335,1298272,99.59,24,object
130,payment_plan_start_date,5335,1298272,99.59,25,object
131,hardship_length,5335,1298272,99.59,1,float64
132,hardship_dpd,5335,1298272,99.59,34,float64
133,hardship_loan_status,5335,1298272,99.59,5,object
134,orig_projected_additional_accrued_interest,3433,1300174,99.74,3202,float64
135,hardship_payoff_balance_amount,5335,1298272,99.59,5329,float64
136,hardship_last_payment_amount,5335,1298272,99.59,4711,float64
137,disbursement_method,1303607,0,0.0,2,object
138,debt_settlement_flag,1303607,0,0.0,2,object
139,debt_settlement_flag_date,31989,1271618,97.55,82,object
140,settlement_status,31989,1271618,97.55,3,object
141,settlement_date,31989,1271618,97.55,88,object
142,settlement_amount,31989,1271618,97.55,21330,float64
143,settlement_percentage,31989,1271618,97.55,2033,float64
144,settlement_term,31989,1271618,97.55,40,float64

As we can see from the above table that there are too many columns with missing values and few of the categorical features with too many categories. We will first have to see deal with the null values in the features and set a threshold for the percent of null values that we can use for the features.

For setting the threshold for percent of null values in the feature, let's first sort the dataset_meta_desc for better understanding about the null values.

We will view the columns with null values more than 1% as according to dataset_meta_desc we have few features with less than or close to 0%(i.e 100-2000 values missing) and won't make sense to view for this analysis.

In [23]:
# sorting the detaset_meta_desc better understanding of percent of null values 
dataset_meta_desc[dataset_meta_desc['%_Null_Values']>1].sort_values(by = ['%_Null_Values'], ascending = False)

,Feature_name,Non_Null_Values,Null_Values,%_Null_Values,Unique_Values,Data_Type
0,id,0,2260668,100.0,0,float64
18,url,0,2260668,100.0,0,float64
1,member_id,0,2260668,100.0,0,float64
134,orig_projected_additional_accrued_interest,8426,2252242,99.63,7313,float64
131,hardship_length,10613,2250055,99.53,1,float64
124,hardship_reason,10613,2250055,99.53,9,object
125,hardship_status,10613,2250055,99.53,3,object
126,deferral_term,10613,2250055,99.53,1,float64
127,hardship_amount,10613,2250055,99.53,8950,float64
128,hardship_start_date,10613,2250055,99.53,26,object
129,hardship_end_date,10613,2250055,99.53,27,object
130,payment_plan_start_date,10613,2250055,99.53,26,object
133,hardship_loan_status,10613,2250055,99.53,5,object
132,hardship_dpd,10613,2250055,99.53,34,float64
135,hardship_payoff_balance_amount,10613,2250055,99.53,10591,float64
136,hardship_last_payment_amount,10613,2250055,99.53,8795,float64
123,hardship_type,10613,2250055,99.53,1,object
139,debt_settlement_flag_date,33056,2227612,98.54,82,object
140,settlement_status,33056,2227612,98.54,3,object
141,settlement_date,33056,2227612,98.54,89,object
142,settlement_amount,33056,2227612,98.54,21519,float64
143,settlement_percentage,33056,2227612,98.54,2045,float64
144,settlement_term,33056,2227612,98.54,40,float64
121,sec_app_mths_since_last_major_derog,35942,2224726,98.41,140,float64
116,sec_app_revol_util,106184,2154484,95.3,1216,float64
112,sec_app_earliest_cr_line,108021,2152647,95.22,663,object
111,revol_bal_joint,108020,2152648,95.22,56875,float64
113,sec_app_inq_last_6mths,108021,2152647,95.22,7,float64
114,sec_app_mort_acc,108021,2152647,95.22,23,float64
115,sec_app_open_acc,108021,2152647,95.22,67,float64
117,sec_app_open_act_il,108021,2152647,95.22,40,float64
118,sec_app_num_rev_accts,108021,2152647,95.22,86,float64
119,sec_app_chargeoff_within_12_mths,108021,2152647,95.22,22,float64
120,sec_app_collections_12_mths_ex_med,108021,2152647,95.22,18,float64
55,verification_status_joint,115730,2144938,94.88,3,object
53,annual_inc_joint,120710,2139958,94.66,17633,float64
54,dti_joint,120706,2139962,94.66,4018,float64
19,desc,126067,2134601,94.42,124501,object
29,mths_since_last_record,359156,1901512,84.11,129,float64
86,mths_since_recent_bc_dlq,519701,1740967,77.01,177,float64
50,mths_since_last_major_derog,580775,1679893,74.31,183,float64
88,mths_since_recent_revol_delinq,740359,1520309,67.25,179,float64
47,next_pymnt_d,957061,1303607,57.66,105,object
28,mths_since_last_delinq,1102166,1158502,51.25,173,float64
65,il_util,1191818,1068850,47.28,280,float64
63,mths_since_rcnt_il,1350744,909924,40.25,405,float64
69,all_util,1394320,866348,38.32,188,float64
68,max_bal_bc,1394539,866129,38.31,33726,float64
67,open_rv_24m,1394539,866129,38.31,50,float64
71,inq_fi,1394539,866129,38.31,33,float64
72,total_cu_tl,1394538,866130,38.31,62,float64
73,inq_last_12m,1394538,866130,38.31,48,float64
66,open_rv_12m,1394539,866129,38.31,29,float64
64,total_bal_il,1394539,866129,38.31,162249,float64
62,open_il_24m,1394539,866129,38.31,31,float64
61,open_il_12m,1394539,866129,38.31,19,float64
60,open_act_il,1394539,866129,38.31,54,float64
59,open_acc_6m,1394538,866130,38.31,19,float64
87,mths_since_recent_inq,1965233,295435,13.07,26,float64
10,emp_title,2093699,166969,7.39,512694,object
99,num_tl_120dpd_2m,2107011,153657,6.8,7,float64
11,emp_length,2113761,146907,6.5,11,object
80,mo_sin_old_il_acct,2121597,139071,6.15,566,float64
77,bc_util,2184597,76071,3.36,1494,float64
104,percent_bc_gt_75,2185289,75379,3.33,284,float64
76,bc_open_to_buy,2185733,74935,3.31,91500,float64
85,mths_since_recent_bc,2187256,73412,3.25,546,float64
103,pct_tl_nvr_dlq,2190237,70431,3.12,690,float64
110,total_il_high_credit_limit,2190392,70276,3.11,194137,float64
91,num_actv_rev_tl,2190392,70276,3.11,57,float64
70,total_rev_hi_lim,2190392,70276,3.11,34220,float64
75,avg_cur_bal,2190322,70346,3.11,88597,float64
81,mo_sin_old_rev_tl_op,2190391,70277,3.11,787,float64
82,mo_sin_rcnt_rev_tl_op,2190391,70277,3.11,333,float64
83,mo_sin_rcnt_tl,2190392,70276,3.11,232,float64
89,num_accts_ever_120_pd,2190392,70276,3.11,44,float64
57,tot_coll_amt,2190392,70276,3.11,15574,float64
58,tot_cur_bal,2190392,70276,3.11,487688,float64
90,num_actv_bc_tl,2190392,70276,3.11,42,float64
93,num_bc_tl,2190392,70276,3.11,76,float64
94,num_il_tl,2190392,70276,3.11,122,float64
95,num_op_rev_tl,2190392,70276,3.11,81,float64
96,num_rev_accts,2190391,70277,3.11,117,float64
97,num_rev_tl_bal_gt_0,2190392,70276,3.11,50,float64
100,num_tl_30dpd,2190392,70276,3.11,5,float64
101,num_tl_90g_dpd_24m,2190392,70276,3.11,34,float64
102,num_tl_op_past_12m,2190392,70276,3.11,33,float64
107,tot_hi_cred_lim,2190392,70276,3.11,529972,float64
98,num_sats,2202078,58590,2.59,91,float64
92,num_bc_sats,2202078,58590,2.59,60,float64
109,total_bc_limit,2210638,50030,2.21,20309,float64
84,mort_acc,2210638,50030,2.21,47,float64
74,acc_open_past_24mths,2210638,50030,2.21,57,float64
108,total_bal_ex_mort,2210638,50030,2.21,212777,float64
21,title,2237343,23325,1.03,63155,object

We can see that there is a clear distinction in the percent of null values in the loan dataset.

**Observation**

   - **100%** - These are either featues with either unique values or descriptive features like url which won't help in model training.
   
       **Features (`id`, `url`, `member_id`)**
    
   - **98.41-99.53** -> These features are related to depth settlement or hardship features which is out of scope for this model as of now. We can try to make a different model for predicting loan status during depth settlement and hardship type. We can seperate these values from the dataset.
   
       **Features - (`sec_app_mths_since_last_major_derog, debt_settlement_flag_date, settlement_status, settlement_date, settlement_amount, settlement_percentage, settlement_term`)**
       
       
    
   - **94 to 95.22 %** -> These features are mostly talking about the second applicant in the joint application for the loan. Most of the values present will be useful for defining the models for a joint application model. But currently we are making a model for both single and joint application.
   
       **Features - (`desc, annual_inc_joint, dti_joint, verification_status_joint, revol_bal_joint, sec_app_earliest_cr_line, sec_app_inq_last_6mths, sec_app_mort_acc, sec_app_open_acc, sec_app_revol_util, sec_app_open_act_il, sec_app_num_rev_accts, sec_app_chargeoff_within_12_mths, sec_app_collections_12_mths_ex_med`)**
       
    
   - **40.25 to 84.11** -> these features are various information about the customers which is linked to the current loan/ credit provided by the client. As we are making model for predicting the loan default before the issusing the loan we can drop these features.
   
       **Features - (`mths_since_last_delinq, mths_since_last_record, next_pymnt_d, mths_since_last_major_derog, mths_since_rcnt_il, il_util, mths_since_recent_bc_dlq, mths_since_recent_revol_delinq`)**
       
       
    
   - **38.1 %** -> these features talk about the final conditions of the borrowers and have to be evaluated. 
   
       **Features - (`open_acc_6m, open_act_il, open_il_12m, open_il_24m, total_bal_il, open_rv_12m, open_rv_24m, max_bal_bc, all_util, inq_fi, total_cu_tl, inq_last_12m`)**
   
    
   - **1% to 13.07%** -> these features are from various aspect and has to be evaluated one by one and selected according to the importance towards the task at hand.
   
       **Features - (`emp_title, emp_length, title, tot_coll_amt, tot_cur_bal, total_rev_hi_lim, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_inq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, total_il_high_credit_limit`)**

In [18]:
# knowing the number of columns according to null values segregation. 

# features with 100% null values
null_values_100 = dataset_meta_desc[dataset_meta_desc["%_Null_Values"]==100].iloc[:,0]
print(f'Features with 100% null values are {", ".join(null_values_100)} and count is {len(null_values_100.values)} .')

print("\n")
# features with 98.41 to 99.53% null values 
null_values_98_99 = dataset_meta_desc[(dataset_meta_desc["%_Null_Values"]>98) & (dataset_meta_desc["%_Null_Values"]<99)].iloc[:,0]
print(f'Features with 98.41 to 99.53% null values are {", ".join(null_values_98_99)} and count is {len(null_values_98_99.values)} .')

print("\n")
# features with 94 to 96% null values 
null_values_94_96 = dataset_meta_desc[(dataset_meta_desc["%_Null_Values"]>94) & (dataset_meta_desc["%_Null_Values"]<96)].iloc[:,0]
print(f'Features with 94 to 96% null values are {", ".join(null_values_94_96)} and count is {len(null_values_94_96.values)} .')

print("\n")
# features with 40 to 85% null values 
null_values_40_85 = dataset_meta_desc[(dataset_meta_desc["%_Null_Values"]>40) & (dataset_meta_desc["%_Null_Values"]<85)].iloc[:,0]
print(f'Features with 40 to 85%  null values are {", ".join(null_values_40_85)} and count is {len(null_values_40_85.values)} .')

print("\n")
# features with 38.1% null values 
null_values_38 = dataset_meta_desc[(dataset_meta_desc["%_Null_Values"]<39) & (dataset_meta_desc["%_Null_Values"]>30)].iloc[:,0]
print(f'Features with 38.1% null values are {", ".join(null_values_38)} and count is {len(null_values_38.values)} .')


print("\n")
# features less than 30% null values 
null_values_30 = dataset_meta_desc[(dataset_meta_desc["%_Null_Values"]<30) & (dataset_meta_desc["%_Null_Values"]>1)].iloc[:,0]
print(f'Features with 30% null values are {", ".join(null_values_30)} and count is {len(null_values_30.values)} .')

Features with 100% null values are id, member_id, url, next_pymnt_d and count is 4 .


Features with 98.41 to 99.53% null values are annual_inc_joint, dti_joint, verification_status_joint, revol_bal_joint, sec_app_earliest_cr_line, sec_app_inq_last_6mths, sec_app_mort_acc, sec_app_open_acc, sec_app_revol_util, sec_app_open_act_il, sec_app_num_rev_accts, sec_app_chargeoff_within_12_mths, sec_app_collections_12_mths_ex_med and count is 13 .


Features with 94 to 96% null values are  and count is 0 .


Features with 40 to 85%  null values are mths_since_last_delinq, mths_since_last_record, mths_since_last_major_derog, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, inq_fi, total_cu_tl, inq_last_12m, mths_since_recent_bc_dlq, mths_since_recent_revol_delinq and count is 19 .


Features with 38.1% null values are  and count is 0 .


Features with 30% null values are emp_title, emp_length, title, tot_coll_amt, tot_cur_bal, total_rev_hi_lim, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_inq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, total_il_high_credit_limit and count is 37 .

**Observation**
    
    - Large number of features are having missing values as seen above.
    - Features could be divided according to the bins of percentage of missing values in that particular features.
    
  **[Note]** Most of these features are kpi that are tracked after the issusing of the loan or credit. So it's important to identify these columns and removing them from the dataset before we proceed with the EDA.
    
**Task**

   - Identify the Target Column
   - Identify the feature that are tracked after the issuance of the loan. **[Feature Selection]**
   - Remove these features which are tracked after issusing loan. [**Feature Selection**]
   - Drop the features with too many Null values. [**Feature Selection**]

-------------------------------------------------------------------------------

### Target Variable

We are trying to predict the loan_status variable in the load dataset.

Let's see the value distribution in loan_status variable.

In [8]:
# value distribution of variable loan_status
dataset_loan['loan_status'].value_counts()

Fully Paid                                             1041952
Current                                                 919695
Charged Off                                             261655
Late (31-120 days)                                       21897
In Grace Period                                           8952
Late (16-30 days)                                         3737
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     31
Name: loan_status, dtype: int64

According to our business proble, we have to predict the whether the borrower will default before the issuing of the loan or credit line to the customers. So we are only predicting for two categories i.e **Fully Paid and Charged Off** . 

Therefore we will only keep observations with loan_status "Fully Paid" or "Charged Off".

In [9]:
# removing other categories in loan status other than Fully Paid or Charged Off
dataset_loan = dataset_loan.loc[dataset_loan['loan_status'].isin(['Fully Paid','Charged Off'])]

In [32]:
# checking the value distribution between "Fully Paid" and "Charged Off"
dataset_loan['loan_status'].value_counts(dropna = False)

Fully Paid     1041952
Charged Off     261655
Name: loan_status, dtype: int64

In [31]:
# checking the normalized distribution between Fully Paid and Charged Pff
dataset_loan['loan_status'].value_counts(normalize = True, dropna = True)

Fully Paid     0.799284
Charged Off    0.200716
Name: loan_status, dtype: float64

**Observations**
 - Close to 80% of the loans are Fully Paid and around 20% of the loans are Charged Off.
 - We will have to handle the unbalance dataset that we have before training either using cross validation or SMOTE method for optimal performance for our model.
 
**Task**
  - Handle imbalance between the two categories using 
      - Cross Validation method. 
      - Downsampling or upsampling using SMOTE method.

-------------------------------------------------------------------------------

We have done the initial checks for our loan dataset and according to the observations we have few of the tasks that needs to be performed as we move forward. 

We will move with Feature Selection and EDA in the below section

## Data Cleaning - Initial Feature Dropping

Raw loan dataset has 145 features and as per out pervious analysis according to the business problem we have not all the features are useful. 

Definition of the features is provided in the excel file here in data/raw/DataDictionary.xlsx .

We will be dropping features with the following criteria. 
   -  Feature with more than 50% of the data missing.
   -  Feature that won't be available at the time of loan application (i.e credit repayement behaviour features.).

### **Features with too much data missing**

In [17]:
# view the features in descending order to the % of null values
dataset_meta_desc.sort_values(by = '%_Null_Values', ascending = False)

,Feature_name,Non_Null_Values,Null_Values,%_Null_Values,Unique_Values,Data_Type
0,id,0,1303607,100.0,0,float64
47,next_pymnt_d,0,1303607,100.0,0,object
1,member_id,0,1303607,100.0,0,float64
18,url,0,1303607,100.0,0,float64
134,orig_projected_additional_accrued_interest,3433,1300174,99.74,3202,float64
124,hardship_reason,5335,1298272,99.59,9,object
130,payment_plan_start_date,5335,1298272,99.59,25,object
123,hardship_type,5335,1298272,99.59,1,object
125,hardship_status,5335,1298272,99.59,3,object
127,hardship_amount,5335,1298272,99.59,4838,float64
128,hardship_start_date,5335,1298272,99.59,26,object
129,hardship_end_date,5335,1298272,99.59,24,object
126,deferral_term,5335,1298272,99.59,1,float64
131,hardship_length,5335,1298272,99.59,1,float64
136,hardship_last_payment_amount,5335,1298272,99.59,4711,float64
133,hardship_loan_status,5335,1298272,99.59,5,object
135,hardship_payoff_balance_amount,5335,1298272,99.59,5329,float64
132,hardship_dpd,5335,1298272,99.59,34,float64
121,sec_app_mths_since_last_major_derog,5932,1297675,99.54,110,float64
116,sec_app_revol_util,16218,1287389,98.76,1107,float64
111,revol_bal_joint,16510,1287097,98.73,14528,float64
112,sec_app_earliest_cr_line,16511,1287096,98.73,560,object
120,sec_app_collections_12_mths_ex_med,16511,1287096,98.73,12,float64
119,sec_app_chargeoff_within_12_mths,16511,1287096,98.73,14,float64
118,sec_app_num_rev_accts,16511,1287096,98.73,67,float64
117,sec_app_open_act_il,16511,1287096,98.73,35,float64
115,sec_app_open_acc,16511,1287096,98.73,54,float64
114,sec_app_mort_acc,16511,1287096,98.73,18,float64
113,sec_app_inq_last_6mths,16511,1287096,98.73,7,float64
55,verification_status_joint,23091,1280516,98.23,3,object
54,dti_joint,23235,1280372,98.22,3609,float64
53,annual_inc_joint,23237,1280370,98.22,4724,float64
140,settlement_status,31989,1271618,97.55,3,object
143,settlement_percentage,31989,1271618,97.55,2033,float64
142,settlement_amount,31989,1271618,97.55,21330,float64
139,debt_settlement_flag_date,31989,1271618,97.55,82,object
141,settlement_date,31989,1271618,97.55,88,object
144,settlement_term,31989,1271618,97.55,40,float64
19,desc,123327,1180280,90.54,121809,object
29,mths_since_last_record,221766,1081841,82.99,124,float64
86,mths_since_recent_bc_dlq,309146,994461,76.29,167,float64
50,mths_since_last_major_derog,342367,961240,73.74,173,float64
65,il_util,432668,870939,66.81,231,float64
88,mths_since_recent_revol_delinq,435835,867772,66.57,168,float64
63,mths_since_rcnt_il,486548,817059,62.68,333,float64
72,total_cu_tl,499544,804063,61.68,53,float64
71,inq_fi,499545,804062,61.68,30,float64
64,total_bal_il,499545,804062,61.68,115496,float64
62,open_il_24m,499545,804062,61.68,31,float64
61,open_il_12m,499545,804062,61.68,18,float64
60,open_act_il,499545,804062,61.68,50,float64
59,open_acc_6m,499544,804063,61.68,19,float64
68,max_bal_bc,499545,804062,61.68,27040,float64
69,all_util,499494,804113,61.68,170,float64
66,open_rv_12m,499545,804062,61.68,27,float64
67,open_rv_24m,499545,804062,61.68,45,float64
73,inq_last_12m,499544,804063,61.68,43,float64
28,mths_since_last_delinq,645783,657824,50.46,163,float64
87,mths_since_recent_inq,1134058,169549,13.01,26,float64
99,num_tl_120dpd_2m,1188037,115570,8.87,6,float64
80,mo_sin_old_il_acct,1199312,104295,8.0,520,float64
10,emp_title,1221028,82579,6.33,371435,object
11,emp_length,1228153,75454,5.79,11,object
103,pct_tl_nvr_dlq,1235926,67681,5.19,629,float64
89,num_accts_ever_120_pd,1236080,67527,5.18,38,float64
83,mo_sin_rcnt_tl,1236080,67527,5.18,193,float64
82,mo_sin_rcnt_rev_tl_op,1236079,67528,5.18,282,float64
90,num_actv_bc_tl,1236080,67527,5.18,34,float64
93,num_bc_tl,1236080,67527,5.18,68,float64
94,num_il_tl,1236080,67527,5.18,113,float64
95,num_op_rev_tl,1236080,67527,5.18,74,float64
96,num_rev_accts,1236079,67528,5.18,106,float64
97,num_rev_tl_bal_gt_0,1236080,67527,5.18,46,float64
100,num_tl_30dpd,1236080,67527,5.18,5,float64
101,num_tl_90g_dpd_24m,1236080,67527,5.18,29,float64
102,num_tl_op_past_12m,1236080,67527,5.18,32,float64
107,tot_hi_cred_lim,1236080,67527,5.18,421293,float64
110,total_il_high_credit_limit,1236080,67527,5.18,160792,float64
81,mo_sin_old_rev_tl_op,1236079,67528,5.18,754,float64
91,num_actv_rev_tl,1236080,67527,5.18,52,float64
57,tot_coll_amt,1236080,67527,5.18,12701,float64
75,avg_cur_bal,1236059,67548,5.18,76181,float64
70,total_rev_hi_lim,1236080,67527,5.18,26313,float64
58,tot_cur_bal,1236080,67527,5.18,395106,float64
77,bc_util,1242221,61386,4.71,1436,float64
104,percent_bc_gt_75,1242560,61047,4.68,242,float64
76,bc_open_to_buy,1242968,60639,4.65,73970,float64
85,mths_since_recent_bc,1243866,59741,4.58,489,float64
92,num_bc_sats,1247766,55841,4.28,52,float64
98,num_sats,1247766,55841,4.28,83,float64
108,total_bal_ex_mort,1256326,47281,3.63,176071,float64
109,total_bc_limit,1256326,47281,3.63,16884,float64
74,acc_open_past_24mths,1256326,47281,3.63,54,float64
84,mort_acc,1256326,47281,3.63,38,float64
21,title,1288181,15426,1.18,61678,object
45,last_pymnt_d,1301347,2260,0.17,134,object
33,revol_util,1302797,810,0.06,1363,float64
105,pub_rec_bankruptcies,1302910,697,0.05,12,float64
24,dti,1303295,312,0.02,6870,float64
20,purpose,1303607,0,0.0,14,object
42,total_rec_late_fee,1303607,0,0.0,15513,float64
17,pymnt_plan,1303607,0,0.0,1,object
16,loan_status,1303607,0,0.0,2,object
15,issue_d,1303607,0,0.0,139,object
14,verification_status,1303607,0,0.0,3,object
13,annual_inc,1303607,0,0.0,62988,float64
12,home_ownership,1303607,0,0.0,6,object
79,delinq_amnt,1303607,0,0.0,1961,float64
41,total_rec_int,1303607,0,0.0,508623,float64
40,total_rec_prncp,1303607,0,0.0,200257,float64
9,sub_grade,1303607,0,0.0,35,object
8,grade,1303607,0,0.0,7,object
7,installment,1303607,0,0.0,82574,float64
122,hardship_flag,1303607,0,0.0,2,object
138,debt_settlement_flag,1303607,0,0.0,2,object
6,int_rate,1303607,0,0.0,654,float64
5,term,1303607,0,0.0,2,object
4,funded_amnt_inv,1303607,0,0.0,9014,float64
3,funded_amnt,1303607,0,0.0,1553,int64
2,loan_amnt,1303607,0,0.0,1553,int64
137,disbursement_method,1303607,0,0.0,2,object
31,pub_rec,1303607,0,0.0,37,float64
22,zip_code,1303606,1,0.0,943,object
37,out_prncp_inv,1303607,0,0.0,1,float64
39,total_pymnt_inv,1303607,0,0.0,987049,float64
56,acc_now_delinq,1303607,0,0.0,8,float64
34,total_acc,1303607,0,0.0,142,float64
35,initial_list_status,1303607,0,0.0,2,object
36,out_prncp,1303607,0,0.0,1,float64
52,application_type,1303607,0,0.0,2,object
51,policy_code,1303607,0,0.0,1,int64
49,collections_12_mths_ex_med,1303551,56,0.0,15,float64
48,last_credit_pull_d,1303553,54,0.0,139,object
106,tax_liens,1303568,39,0.0,36,float64
23,addr_state,1303607,0,0.0,51,object
46,last_pymnt_amnt,1303607,0,0.0,680163,float64
32,revol_bal,1303607,0,0.0,82819,int64
78,chargeoff_within_12_mths,1303551,56,0.0,11,float64
30,open_acc,1303607,0,0.0,84,float64
44,collection_recovery_fee,1303607,0,0.0,140279,float64
43,recoveries,1303607,0,0.0,127607,float64
27,inq_last_6mths,1303606,1,0.0,9,float64
26,earliest_cr_line,1303607,0,0.0,738,object
25,delinq_2yrs,1303607,0,0.0,30,float64
38,total_pymnt,1303607,0,0.0,1224360,float64

In [30]:
# count of features with null values
print(f"Lona Dataset has {dataset_meta_desc.shape[0]} and out of which {dataset_meta_desc[dataset_meta_desc['%_Null_Values']>0].shape[0]} have null values")

Lona Dataset has 145 and out of which 99 have null values

 After the removal of other categories in loan_status feature, when we check the %_Null_Values in the load dataset we can see **clear distinction** between feature with **50%** missing values comapared to **13%** missing values. 
 
 Hence we decide to make a **threshold of 50%** for dropping the features from further process.

In [53]:
# selecting feature with more than 50% of null values
null_feature_50_list = dataset_meta_desc.loc[dataset_meta_desc['%_Null_Values']>50, 'Feature_name'].to_list()

# view the feature names with more than 50% missing values
print(f"Following is the list of all the feature with missing values more than 50% \n\n {', '.join(null_feature_50_list)}")

print("\n")
# view the count of the these features with 50% missing values 
print(f"Total number of features with 50% missing values is {len(null_feature_50_list)}")

Following is the list of all the feature with missing values more than 50%

 id, member_id, url, desc, mths_since_last_delinq, mths_since_last_record, next_pymnt_d, mths_since_last_major_derog, annual_inc_joint, dti_joint, verification_status_joint, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, inq_fi, total_cu_tl, inq_last_12m, mths_since_recent_bc_dlq, mths_since_recent_revol_delinq, revol_bal_joint, sec_app_earliest_cr_line, sec_app_inq_last_6mths, sec_app_mort_acc, sec_app_open_acc, sec_app_revol_util, sec_app_open_act_il, sec_app_num_rev_accts, sec_app_chargeoff_within_12_mths, sec_app_collections_12_mths_ex_med, sec_app_mths_since_last_major_derog, hardship_type, hardship_reason, hardship_status, deferral_term, hardship_amount, hardship_start_date, hardship_end_date, payment_plan_start_date, hardship_length, hardship_dpd, hardship_loan_status, orig_projected_additional_accrued_interest, hardship_payoff_balance_amount, hardship_last_payment_amount, debt_settlement_flag_date, settlement_status, settlement_date, settlement_amount, settlement_percentage, settlement_term


Total number of features with 50% missing values is 58

Above we can see that there are 58 feature with 50% missing values with their name. We will be dropping these features from the load dataset.

**Dropping Features with 50% missing values.**

In [57]:
# dropping the features with more than 50% missing values.
dataset_loan.drop(columns = null_feature_50_list, axis = 1, inplace = True)

# Shape of the loat dataset after dropping above features 
dataset_loan.shape

(1303607, 87)

After dropping the above mentioned features we are left with 87 features in the load dataset.

### Feature not available during loan application.

In our current form of the loan dataset we have features that are being used to track the latest update on the loan/ credit line of the borrowers which won't be present at the moment of loan application.

Hence we can drop these features from our loan dataset.

In [61]:
# view all the feature present in the loan dataset
print(f" Following is the list of all the features present in loan dataset \n {dataset_loan.columns}")

 Following is the list of all the features present in loan dataset
 Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'hardship_flag', 'disbursement_method',
       'debt_settlement_flag'],
      dtype='object')

Upon checking the definition of these features, we will drop the features that would not been available before lending of the loan.

In [65]:
# list of the feature that were not present before lending of loan.
drop_feature_list = ['acc_now_delinq', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'debt_settlement_flag', 'delinq_2yrs', 'delinq_amnt', 'disbursement_method', 'funded_amnt', 'funded_amnt_inv', 'hardship_flag', 'inq_last_6mths', 'last_credit_pull_d', 'last_pymnt_amnt', 'last_pymnt_d', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mths_since_recent_bc', 'mths_since_recent_inq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',  'out_prncp', 'out_prncp_inv', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pymnt_plan', 'recoveries', 'tax_liens', 'tot_coll_amt', 'tot_cur_bal', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'total_rev_hi_lim']

# drop features not present before lending of loan. 
dataset_loan.drop(columns = drop_feature_list, axis = 1, inplace = True)

Let's view the number of features present now and their names.

In [4]:
# view the features names present in the loat dataset.
print(f'List of the features present in the loan dataset is {len(dataset_loan.columns)} \n\n {", ".join(sorted(dataset_loan.columns))} ')

List of the features present in the loan dataset is 31

 addr_state, annual_inc, application_type, dti, earliest_cr_line, emp_length, emp_title, grade, home_ownership, initial_list_status, installment, int_rate, issue_d, loan_amnt, loan_status, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mort_acc, open_acc, policy_code, pub_rec, pub_rec_bankruptcies, purpose, revol_bal, revol_util, sub_grade, term, title, total_acc, verification_status, zip_code

## Exploratory Data Analysis

We will start with exploring the loan dataset after doing basic cleaning of removing features with too many null values and dropping the features that won't be available during the application of loan or credit line.

Before we start with EDA, let's view a sample dataset.

In [9]:
# view sample dataset from the loan dataset
dataset_loan.sample(5)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,policy_code,application_type,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mort_acc,pub_rec_bankruptcies
659439,8750,36 months,10.49,284.36,B,B3,peace officer,10+ years,RENT,53000.0,Source Verified,Feb-2015,Fully Paid,credit_card,Credit card refinancing,100xx,NY,12.88,Aug-2002,7.0,0.0,8021,36.0,15.0,f,1,Individual,86.0,149.0,0.0,0.0
913371,20000,36 months,8.90,635.07,A,A5,New York Presbyterian Hospital,10+ years,MORTGAGE,62000.0,Verified,Jun-2013,Fully Paid,credit_card,Control,104xx,NY,11.26,May-1991,6.0,0.0,10124,55.3,23.0,f,1,Individual,73.0,268.0,3.0,0.0
286179,2100,36 months,18.99,76.97,D,D3,PA-C,10+ years,MORTGAGE,130000.0,Verified,Nov-2016,Fully Paid,other,Other,903xx,CA,22.23,Sep-1995,10.0,0.0,14323,80.8,17.0,f,1,Individual,254.0,137.0,3.0,0.0
894919,25475,36 months,13.68,866.73,C,C1,HomeTelos,6 years,MORTGAGE,65000.0,Verified,Jul-2013,Charged Off,other,Personal,190xx,PA,11.50,Dec-1997,13.0,0.0,3477,5.8,30.0,f,1,Individual,130.0,189.0,3.0,0.0
29229,30000,36 months,12.61,1005.20,C,C1,Massage Therapist,4 years,RENT,54310.0,Source Verified,Mar-2018,Charged Off,major_purchase,Major purchase,282xx,NC,0.69,Aug-2006,12.0,0.0,0,0.0,31.0,w,1,Individual,139.0,130.0,0.0,0.0

In [10]:
# view the shape of the dataset
print(f'Loan dataset has a following number of observations and features {dataset_loan.shape}')

Loan dataset has a following number of observations and features (1303607, 31)

After the initial cleaning of the dataset we are left with 130K observations and 31 features which we will analyze one by one, try to check for datatypes, transformations needed for the features, check for outliers, distribution of the dataset and perform bivariate analysis.

**Checking for Null Values**

In [15]:
# view the meta data of loan dataset using dataset_meta_data()
dataset_meta_desc_1 = dataset_meta_data(dataset_loan)

# print the meta data obtained from the dataset_meta_data() function
dataset_meta_desc_1

,Feature_name,Non_Null_Values,Null_Values,%_Null_Values,Unique_Values,Data_Type
0,loan_amnt,1303607,0,0.0,1553,int64
1,term,1303607,0,0.0,2,object
2,int_rate,1303607,0,0.0,654,float64
3,installment,1303607,0,0.0,82574,float64
4,grade,1303607,0,0.0,7,object
5,sub_grade,1303607,0,0.0,35,object
6,emp_title,1221028,82579,6.33,371435,object
7,emp_length,1228153,75454,5.79,11,object
8,home_ownership,1303607,0,0.0,6,object
9,annual_inc,1303607,0,0.0,62988,float64
10,verification_status,1303607,0,0.0,3,object
11,issue_d,1303607,0,0.0,139,object
12,loan_status,1303607,0,0.0,2,object
13,purpose,1303607,0,0.0,14,object
14,title,1288181,15426,1.18,61678,object
15,zip_code,1303606,1,0.0,943,object
16,addr_state,1303607,0,0.0,51,object
17,dti,1303295,312,0.02,6870,float64
18,earliest_cr_line,1303607,0,0.0,738,object
19,open_acc,1303607,0,0.0,84,float64
20,pub_rec,1303607,0,0.0,37,float64
21,revol_bal,1303607,0,0.0,82819,int64
22,revol_util,1302797,810,0.06,1363,float64
23,total_acc,1303607,0,0.0,142,float64
24,initial_list_status,1303607,0,0.0,2,object
25,policy_code,1303607,0,0.0,1,int64
26,application_type,1303607,0,0.0,2,object
27,mo_sin_old_il_acct,1199312,104295,8.0,520,float64
28,mo_sin_old_rev_tl_op,1236079,67528,5.18,754,float64
29,mort_acc,1256326,47281,3.63,38,float64
30,pub_rec_bankruptcies,1302910,697,0.05,12,float64

In [18]:
# viewing the meta data about the features in loan dataset in descending order
dataset_meta_desc_1.loc[dataset_meta_desc_1['Null_Values']>0].sort_values(by = '%_Null_Values', ascending = False)

,Feature_name,Non_Null_Values,Null_Values,%_Null_Values,Unique_Values,Data_Type
27,mo_sin_old_il_acct,1199312,104295,8.0,520,float64
6,emp_title,1221028,82579,6.33,371435,object
7,emp_length,1228153,75454,5.79,11,object
28,mo_sin_old_rev_tl_op,1236079,67528,5.18,754,float64
29,mort_acc,1256326,47281,3.63,38,float64
14,title,1288181,15426,1.18,61678,object
22,revol_util,1302797,810,0.06,1363,float64
30,pub_rec_bankruptcies,1302910,697,0.05,12,float64
17,dti,1303295,312,0.02,6870,float64
15,zip_code,1303606,1,0.0,943,object

### Univariate Analysis

We will be starting with univariate analysis of each features one by one and check for following parameters before moving to bivariate analysis and note down any task or featuring engineering task that needs to be performed. 
 - Check for distriubution of each features
 - check for outliers
 - Check for missing values and decided method to remove them according to the presence of outliers in the feature and whether it's numerical or categorical features.

In [20]:
# get the features that have numeric dtypes
numeric_features = [col for col in dataset_loan.columns if dataset_loan[col].dtypes != 'object']
# view the name of these Numeric and Categorical features 
print(f'Following are the numerical columns {numeric_features}')

# get the features with object dtypes
categorical_features = dataset_loan.select_dtypes('object').columns.to_list()
print(f'\nFollowing are the categorical columns {categorical_features}')

Following are the numerical columns ['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'policy_code', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mort_acc', 'pub_rec_bankruptcies']

Following are the categorical columns ['term', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'initial_list_status', 'application_type']

**Basic Statistic of the loan dataset**

Let's view the basic statistics of the numerical and categorical features in the loan dataset we have.

In [23]:
# view the basic statistics  of the numerical features.
dataset_loan.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,policy_code,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mort_acc,pub_rec_bankruptcies
count,1.303607e+06,1.303607e+06,1.303607e+06,1.303607e+06,1.303295e+06,1.303607e+06,1.303607e+06,1.303607e+06,1.302797e+06,1.303607e+06,1303607.0,1.199312e+06,1.236079e+06,1.256326e+06,1.302910e+06
mean,1.441681e+04,1.325722e+01,4.380850e+02,7.615899e+04,1.825875e+01,1.159234e+01,2.155220e-01,1.623599e+04,5.191014e+01,2.501894e+01,1.0,1.258357e+02,1.814992e+02,1.676875e+00,1.346985e-01
std,8.699542e+03,4.760544e+00,2.610632e+02,7.004890e+04,1.093849e+01,5.465282e+00,6.028619e-01,2.228629e+04,2.450155e+01,1.199584e+01,0.0,5.217895e+01,9.433621e+01,2.005056e+00,3.782756e-01
min,5.000000e+02,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.0,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00
25%,8.000000e+03,9.750000e+00,2.488200e+02,4.584000e+04,1.179000e+01,8.000000e+00,0.000000e+00,5.952000e+03,3.360000e+01,1.600000e+01,1.0,9.800000e+01,1.170000e+02,0.000000e+00,0.000000e+00
50%,1.200000e+04,1.274000e+01,3.754300e+02,6.500000e+04,1.761000e+01,1.100000e+01,0.000000e+00,1.114000e+04,5.230000e+01,2.300000e+01,1.0,1.290000e+02,1.640000e+02,1.000000e+00,0.000000e+00
75%,2.000000e+04,1.599000e+01,5.804500e+02,9.000000e+04,2.404000e+01,1.400000e+01,0.000000e+00,1.974800e+04,7.080000e+01,3.200000e+01,1.0,1.520000e+02,2.300000e+02,3.000000e+00,0.000000e+00
max,4.000000e+04,3.099000e+01,1.719830e+03,1.099920e+07,9.990000e+02,9.000000e+01,8.600000e+01,2.904836e+06,8.923000e+02,1.760000e+02,1.0,9.990000e+02,8.520000e+02,5.100000e+01,1.200000e+01

In [24]:
# viewing the basic statistics of the categorical features.
dataset_loan[categorical_features].describe()

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,earliest_cr_line,initial_list_status,application_type
count,1303607,1303607,1303607,1221028,1228153,1303607,1303607,1303607,1303607,1303607,1288181,1303606,1303607,1303607,1303607,1303607
unique,2,7,35,371435,11,6,3,139,2,14,61678,943,51,738,2,2
top,36 months,B,C1,Teacher,10+ years,MORTGAGE,Source Verified,Oct-2015,Fully Paid,debt_consolidation,Debt consolidation,945xx,CA,Aug-2001,w,Individual
freq,988754,380152,82815,20496,428547,645496,503726,42727,1041952,757591,638945,14625,191032,9153,751214,1280370

It's necessary to view unique values and their count in each categorical features.

In [37]:
# view unique and their count in each categorical features.
for col in dataset_loan.select_dtypes('object').columns:
    print(col.upper() , ' : ', dataset_loan[col].nunique())
    if dataset_loan[col].nunique()>51:
        print(dataset_loan[col].unique()[:51])
        print("----- and", len(dataset_loan[col].unique())-51, "more",'\n')
    else:
        print(dataset_loan[col].unique(),'\n')

TERM  :  2
[' 36 months' ' 60 months']

GRADE  :  7
['D' 'C' 'A' 'B' 'E' 'G' 'F']

SUB_GRADE  :  35
['D5' 'C4' 'A3' 'B3' 'E5' 'D1' 'C1' 'A4' 'E1' 'B5' 'E4' 'B1' 'D2' 'B4'
 'B2' 'C3' 'A5' 'C2' 'A2' 'C5' 'D3' 'D4' 'E2' 'A1' 'E3' 'G2' 'F1' 'G4'
 'F2' 'F4' 'F3' 'F5' 'G1' 'G5' 'G3']

EMP_TITLE  :  371435
['Supervisor ' 'Assistant to the Treasurer (Payroll)' 'Teacher'
 'Accounts Examiner III' 'Senior Director Risk Management'
 'Front office Lead' 'Sewell collision center' 'Manager' 'service advisor'
 'Stylist' 'HR Director ' 'Cabinet maker' 'Associate Research Fellow'
 'Supply chain management ' 'Office Assistant 1' 'Deputy'
 'kitchen and bath designer' 'Executive Casino Host' 'Customer service '
 'District Manager' 'Director of Maintenance ' 'Teacher and Coach'
 'Table Games Dealer ' nan 'QUALITY ASSURANCE' 'Mobile Expert'
 'Customer Advocate' 'Verizon Engineer' 'Dietary Supervisor ' 'operator '
 'Claims manager ' 'Electric Systems Associate ' 'Civil Engineering Tech'
 'Systems Administrator' 'Sr Project Manager' 'Customer Service Agent'
 'Sales consultant ' 'Regional Coordinator ' 'Managing Partner'
 'Police Officer' 'Correction sergeant ' 'E6' 'Principal'
 'Business Personal Banker ' 'PTA' 'Assistant manager'
 'Warehouse Associate ' 'Senior Operations Analyst ' 'Truck Driver'
 'Customer service Rep' 'Sr. Mechanic']
----- and 371385 more

EMP_LENGTH  :  11
['5 years' '< 1 year' '10+ years' '3 years' '4 years' '1 year' '8 years'
 nan '2 years' '6 years' '9 years' '7 years']

HOME_OWNERSHIP  :  6
['MORTGAGE' 'RENT' 'OWN' 'ANY' 'NONE' 'OTHER']

VERIFICATION_STATUS  :  3
['Source Verified' 'Verified' 'Not Verified']

ISSUE_D  :  139
['Dec-2018' 'Nov-2018' 'Oct-2018' 'Sep-2018' 'Aug-2018' 'Jul-2018'
 'Jun-2018' 'May-2018' 'Apr-2018' 'Mar-2018' 'Feb-2018' 'Jan-2018'
 'Sep-2016' 'Aug-2016' 'Jul-2016' 'Jun-2016' 'May-2016' 'Apr-2016'
 'Mar-2016' 'Feb-2016' 'Jan-2016' 'Dec-2016' 'Nov-2016' 'Oct-2016'
 'Dec-2015' 'Nov-2015' 'Oct-2015' 'Sep-2015' 'Aug-2015' 'Jul-2015'
 'Jun-2015' 'May-2015' 'Apr-2015' 'Mar-2015' 'Feb-2015' 'Jan-2015'
 'Mar-2017' 'Feb-2017' 'Jan-2017' 'Sep-2017' 'Aug-2017' 'Jul-2017'
 'Jun-2017' 'May-2017' 'Apr-2017' 'Dec-2013' 'Nov-2013' 'Oct-2013'
 'Sep-2013' 'Aug-2013' 'Jul-2013']
----- and 88 more

LOAN_STATUS  :  2
['Fully Paid' 'Charged Off']

PURPOSE  :  14
['debt_consolidation' 'credit_card' 'other' 'house' 'car'
 'home_improvement' 'moving' 'small_business' 'vacation' 'medical'
 'major_purchase' 'renewable_energy' 'wedding' 'educational']

TITLE  :  61678
['Debt consolidation' 'Credit card refinancing' 'Other' 'Home buying'
 'Car financing' 'Home improvement' 'Moving and relocation' 'Business'
 'Vacation' 'Medical expenses' 'Major purchase' 'Green loan' nan
 'Credit Card Consolidation' 'odymeds' 'SAVE' 'Learning and training'
 'Trying to come back to reality!'
 'Paying off higher interest cards & auto'
 'Simple Loan Until Contract Is Completed'
 'Prescription Drug and Medical Costs' 'Pay off Lowes Card'
 'new kitchen for momma!' 'New Baby and New House (CC Consolidate)'
 'Credit Card/Auto Repair' 'Student Loan' 'UNIVERSAL CARD'
 'Pay off other Installment loan' 'Debt Consolidation'
 'Debt Consolidation and Credit Transfer' 'My Life Saving Loan :)' 'debt'
 'Debt Killer' 'credit card' 'Reducing Debt to Purchase Home' 'pay off'
 'Pay off' 'Clean Up' 'For The House'
 'Consolidation of debt and home improve. ' 'No Regrets'
 'Debt Consilation' 'debt coladation' 'Expenses' 'Debt Consolidation '
 'Credit Card Loan' 'payoff' 'consolidation'
 'Bill Consolidation and tires for truck' 'Credit consolidation'
 'Consolidation']
----- and 61628 more

ZIP_CODE  :  943
['917xx' '456xx' '982xx' '786xx' '020xx' '981xx' '750xx' '194xx' '760xx'
 '481xx' '435xx' '836xx' '920xx' '775xx' '850xx' '145xx' '712xx' '028xx'
 '605xx' '370xx' '898xx' '600xx' '551xx' '871xx' '913xx' '077xx' '801xx'
 '958xx' '232xx' '272xx' '751xx' '320xx' '278xx' '100xx' '791xx' '427xx'
 '741xx' '740xx' '066xx' '141xx' '781xx' '480xx' '450xx' '347xx' '805xx'
 '952xx' '208xx' '945xx' '328xx' '330xx' '038xx']
----- and 893 more

ADDR_STATE  :  51
['CA' 'OH' 'WA' 'TX' 'MA' 'PA' 'MI' 'ID' 'AZ' 'NY' 'LA' 'RI' 'IL' 'TN'
 'NV' 'MN' 'NM' 'NJ' 'CO' 'VA' 'NC' 'FL' 'KY' 'OK' 'CT' 'MD' 'NH' 'IN'
 'AL' 'GA' 'SC' 'DC' 'OR' 'NE' 'KS' 'HI' 'AK' 'VT' 'MO' 'UT' 'AR' 'MS'
 'WI' 'ND' 'DE' 'WV' 'MT' 'ME' 'SD' 'WY' 'IA']

EARLIEST_CR_LINE  :  738
['Jan-2012' 'Jun-2009' 'Feb-1999' 'Dec-2003' 'Oct-1997' 'Apr-1995'
 'Apr-2009' 'Mar-2004' 'Jun-2007' 'Oct-2002' 'Sep-2007' 'Feb-2006'
 'Jan-1987' 'Mar-2008' 'Dec-2005' 'May-2003' 'Jun-2005' 'Aug-1995'
 'Jan-2009' 'Mar-2003' 'Sep-2001' 'Jun-1982' 'Feb-2002' 'Mar-2002'
 'Aug-2014' 'Jan-2007' 'Dec-2014' 'Mar-2001' 'Dec-1999' 'Nov-2010'
 'Dec-2002' 'Jul-2004' 'Jul-2005' 'Apr-1983' 'Oct-1993' 'Jul-2015'
 'Feb-2007' 'Apr-2007' 'May-2004' 'Dec-1989' 'Aug-2013' 'Apr-2005'
 'Oct-2007' 'Mar-2007' 'Jun-1993' 'Aug-2008' 'Sep-1993' 'Oct-1992'
 'Aug-2012' 'Mar-2014' 'May-2013']
----- and 687 more

INITIAL_LIST_STATUS  :  2
['w' 'f']

APPLICATION_TYPE  :  2
['Joint App' 'Individual']

**Tasks**
   - adawdawd 
   - 
   -

### Loading Intermediate data

In [3]:
dataset_loan = pd.read_csv('./data/processed/temp_processed_data_1.csv')

### Saving intermediate data

In [76]:
dataset_loan.to_csv('./data/processed/temp_processed_data_1.csv', index = False)